@scale-factor: 0.5;
@sprite-face-crunch-factor: 0.85;
@sprite-face-size: @scale-factor * 368px;
@next-button-size: @scale-factor * 232px;
@login-button-size: @scale-factor * 136px;
@lights-width: @scale-factor * 96px;
@lights-height: @scale-factor * 136px;
@sprite-name-width: @sprite-face-size + @next-button-size;
@sprite-name-height: @scale-factor * 60px;

@background-green: #163525;
@midground-green: #496756;
@foreground-green: #efffc4;
@gray: #384448;
@light-gray: #48565a;
@bright-gray: #5f7277;