#container {
  margin-top: 2.5px;
}
body .loading {
  display: none;
}
body.no-orientation .dialog-top {
  display: none;
}
body.no-orientation .dialog-screen {
  display: none;
}
body.no-orientation .loading {
  display: block;
}
body.portrait #container {
  height: 480px;
}
body.portrait .dialog-top {
  top: 0px;
  left: 0px;
}
body.portrait .sprite-face {
  top: 0px;
  left: 0px;
}
body.portrait .next.button {
  top: 0px;
  left: 184px;
}
body.portrait .lights {
  top: 116px;
  left: 184px;
}
body.portrait .login.button {
  top: 116px;
  left: 232px;
}
body.portrait .sprite.name {
  top: 184px;
  left: 0px;
}
body.portrait .dialog-screen {
  top: 214px;
  height: 180px;
}
body.landscape {
  background: url(../img/dialog/screen_background_landscape.png) middle center repeat-y;
}
body.landscape #container {
  height: 320px;
}
body.landscape .dialog-top {
  top: 0px;
  left: 0px;
}
body.landscape .sprite-face {
  top: 0px;
  left: 0px;
}
body.landscape .next.button {
  top: 156.4px;
  left: 68px;
}
body.landscape .lights {
  top: 156.4px;
  left: 0px;
  width: 68px;
  height: 48px;
}
body.landscape .login.button {
  top: 204.4px;
  left: 0px;
}
body.landscape .sprite.name {
  top: 0px;
  left: 0px;
  z-index: 110;
}
body.landscape .dialog-screen {
  top: 0px;
  left: 184px;
  height: 250px;
}
.dialog-top {
  position: relative;
  z-index: 100;
}
.dialog-top * {
  position: absolute;
}
.dialog-top .sprite.face {
  width: 184px;
  height: 184px;
  background-image: url(../img/dialog/sprite_face.png);
  background-position: center;
  background-repeat: no-repeat;
}
.dialog-top .next.button {
  width: 116px;
  height: 116px;
  background-image: url(../img/dialog/next_button.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.dialog-top .next.button.disabled {
  background-position: bottom left;
  cursor: auto;
}
.dialog-top .lights {
  width: 48px;
  height: 68px;
  background-image: url(../img/dialog/lights.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.dialog-top .login.button {
  width: 68px;
  height: 68px;
  background-image: url(../img/dialog/login_button.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.dialog-top .sprite.name {
  width: 184px;
  height: 30px;
  background-image: url(../img/dialog/sprite_name.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: courier, /* Unix+X, MacOS */ monospace, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  letter-spacing: 1px;
}
.dialog-top .sprite.name span {
  padding-top: 5px;
  padding-left: 18px;
}
.dialog-screen {
  position: relative;
  z-index: 1;
  height: 180px;
  width: 300px;
  padding-top: 25px;
  background-image: url(../img/dialog/dialog_box.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.dialog-box {
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  color: #fff;
  font-family: courier, /* Unix+X, MacOS */ monospace, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#data {
  display: none;
}
.button {
  cursor: pointer;
  user-enabled: false;
  -webkit-user-enabled: false;
  -moz-user-enabled: false;
}
.dialog.button {
  padding: 10px;
  margin: 4px;
  border: 2px solid green;
  color: green;
  background: #9f9;
}
.dialog.button.red {
  border: 2px solid red;
  color: red;
  background: #f99;
}
.dialog.button.yellow {
  border: 2px solid #994;
  color: #994;
  background: #ff9;
}
.instructions {
  color: #ccc;
  font-style: italic;
}
