a {
  text-decoration: none;
}
.items {
  width: 100%;
}
.items .item {
  display: block;
  float: left;
  background: #eee;
  margin: 10px;
}
.items .item .thumbnail {
  margin: 5px;
  float: left;
  border: 1px solid #444;
}
.items .item .title {
  font-size: 24pt;
  color: #000;
}
.items .item .description {
  font-style: italic;
  color: #444;
}
.items .item.captured {
  background-color: #ff0;
}
.items .item:hover {
  background-color: #ddd;
}
.items .item.captured:hover {
  background-color: #e5e600;
}
#parts-list .item {
  width: 500px;
  min-height: 80px;
}
#projects-list .item {
  width: 500px;
  min-height: 200px;
}
